{% extends "::base.html.twig" %}
{% block title %}Edit personal informations{% if not isMe %} of {{ user.username }}{% endif %} - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="center">Edit personal informations{% if not isMe %} of {{ user.username }}{% endif %}</h1>

    <div class="row">
    {{ form_start(form) }}
        <fieldset>
            <legend>E-mail</legend>

            {{ form_row(form.email) }}
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            {{ form_rest(form) }}
        </fieldset>

        <div class="center">

            <input type="submit" value="Save" class="button success">
            <a href="{{ path('user.profil.show', {'slug': user.slug}) }}" class="button">Show profil</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
