{% trans_default_domain 'profil' %}
{% extends "::base.html.twig" %}
{% block title %}{{ "Edit connexion's informations"|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="center">{{ "Edit connexion's informations"|trans }}{% if not isMe %} ({{ user.username }}){% endif %}</h1>

    <div class="row">
    {{ form_start(form) }}
        <fieldset>
            <legend>{{ 'form.email'|trans({}, 'FOSUserBundle') }}</legend>
            {{ form_row(form.email) }}
        </fieldset>
        <fieldset>
            <legend>{{ 'form.password'|trans({}, 'FOSUserBundle') }}</legend>
            {{ form_rest(form) }}
        </fieldset>

        <div class="center">
            <input type="submit" value="{{ 'Save'|trans({}, 'form') }}" class="button success">
            <a href="{{ path('user.profil.show', {'slug': user.slug}) }}" class="button">{{ 'Show profil'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
