<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'app_name'|trans({}, 'app') }}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="{{ url('homepage') }}">
        {% block stylesheets %}
            {% webpack css '@app/less/theme.less.js' %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% end_webpack %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="manifest" href="{{ path('manifest') }}" />
    </head>
    <body>
        {% include "::sidebar.html.twig" %}
        <div id="container" canvas="container">
            {% include "::topbar.html.twig" %}

            <div class="flash-container">
                {% include "::flash.html.twig" %}
                {% block flash %}{% endblock %}

                <noscript>
                    <div class="flash-msg error">{{ 'javascript'|trans({}, 'errors') }}</div>
                </noscript>
            </div>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script>
                var WS_URI = "ws{% if use_ssl %}s{% endif %}://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
                var WS, Flash;
            </script>
            <script src="{{ asset('vendor/autobahn.min.js') }}"></script>
            {% webpack js '@app/js/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% end_webpack %}
            <script src="{{ path('bazinga_jstranslation_js') }}"></script>
        {% endblock %}
    </body>
</html>
