<div class="sidebar" off-canvas="sidebar left push">
    <div class="title sb-close">Menu</div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="block-avatar">
            <a href="{{ path('user.profil.show', { slug: app.user.slug }) }}">
                <div class="login">{{ app.user.username }}</div>
            </a>
        </div>
    {% endif %}

    <ul class="sidebar-menu">
        <li><a href="{{ path('homepage') }}"><i class="gi gi-barn"></i>Home</a></li>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('match.create') }}"><i class="gi gi-joystick"></i>Create game</a></li>
            {% if inGame|default(false) %}
                <li>
                    <a id="link-delete-game" href="{{ path('match.delete', {'slug': game.slug}) }}" style="color: #F00" class="in">
                        <i class="gi gi-trash-can"></i>
                        Delete the game
                    </a>
                </li>
            {% endif %}
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="gi gi-exit-door"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}"><i class="gi gi-skeleton-key"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}"><i class="gi gi-shaking-hands"></i>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
        <li><a href="javascript:void(0);" class="sb-close in"><i class="gi gi-crossed-bones"></i>Close menu</a></li>
    </ul>
</div>
