{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% webpack js '@AppBundle/Resources/assets/js/homepage.js' %}
        <script src="{{ asset_url }}"></script>
    {% end_webpack %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack css '@AppBundle/Resources/assets/less/homepage.less.js' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% end_webpack %}
{% endblock %}

{% block body %}
    <div id="vue">
        <game-list userid="{{ app.user.id }}" url="{{ path('match.display', {slug: 'SLUG'}) }}"></game-list>
    </div>
    <div class="center">
        <a href="{{ path('match.create') }}" class="button success">
            <i class="fa fa-plus-circle"></i> Create game
        </a>
    </div>
{% endblock %}
