{% extends "::base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'layout.login'|trans }} - {{ parent() }}{% endblock %}

{% block flash %}
    {{ parent() }}
    {% if error %}
        <div class="flash-msg error"><div class="close">&times;</div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="center">{{ 'layout.login'|trans }}</h1>

    <form method="post" action="{{ path('fos_user_security_check') }}" class="small-12 large-5 column large-centered">
        <label for="username" class="lbl">{{ 'form.username'|trans }} :</label>
        <input type="text" name="_username" id="username" placeholder="{{ 'form.username'|trans }}" value="{{ last_username }}" required="required">

        <label for="password" class="lbl">{{ 'form.password'|trans }} :</label>
        <input type="password" id="password" name="_password" placeholder="{{ 'form.password'|trans }}" required="required">

        <div class="center">
            <label for="remember_me" class="cursor">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                {{ 'security.login.remember_me'|trans }}
            </label>
        </div>

        <div class="center">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="button round success small-12 large-5">
            <a href="{{ path('fos_user_registration_register') }}" class="button round small-12 large-5">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            <br>
            <a href="{{ path('fos_user_resetting_request') }}"><em>{{ 'resetting.request.submit'|trans }}</em></a>
        </div>
    </form>
{% endblock %}
