{% extends '::base.html.twig' %}
{% block title %}{{ 'Statistics'|trans }} "{{ game.name }}" - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    {% webpack css '@stats/less/stats.less.js' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% end_webpack %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var penaltyData = '{{ penaltyData }}'
        var weaponData = '{{ weaponData }}'
        var bonusData = '{{ bonusData }}'
    </script>
    {% webpack js '@stats/js/stats-game.js' %}
        <script src="{{ asset_url }}"></script>
    {% end_webpack %}
{% endblock %}

{% block body %}
    <h1 class="center">{{ game.name }} - {{ 'Statistics'|trans }}</h1>

    <div class="center">
        <a href="{{ path('match.display', { slug: game.slug }) }}" class="button success">{{ 'Go back to game'|trans({}, 'stats') }}</a>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">{{ 'Games'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'start_on'|trans }}</td>
                    <td>{{ game.runAt|localizeddate }}</td>
                </tr>
                {% if game.status == 2 %}
                    <tr>
                        <td>{{ 'finish_on'|trans }}</td>
                        <td>{{ game.lastShoot|localizeddate }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Winners'|trans }}</td>
                        <td>{{ game.playersTour|join(',') }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <table class="table large-6 penalty" style="display: none;">
            <thead>
                <tr>
                    <th colspan="2">{{ 'penalty_name'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td width="50%">
                        <div id="penalty" style="width: 100%;"></div>
                    </td>
                    <td>
                        <div id="penaltyvic" style="width: 100%;"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table large-12">
            <thead>
                <tr>
                    <th>{{ 'weapon_name'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div id="weapons" style="width: 100%;"></div></td>
                </tr>
            </tbody>
        </table>

        <table class="table large-12">
            <thead>
                <tr>
                    <th>{{ 'bonus_name'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div id="bonus" style="width: 100%;"></div></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
