{% extends "::base.html.twig" %}
{% block title %}Create game - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="center">Create game</h1>
    {{ form_start(form, {attr: {class: 'column small-12 large-5 large-centered'}}) }}
        {{ form_rest(form) }}
        <maxplayer trans="%d players"></maxplayer>
        <div class="center">
            <input type="submit" value="Create game" class="button success round small-12 large-5">
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack js '@match/js/create.js' %}
        <script src="{{ asset_url }}"></script>
    {% end_webpack %}
{% endblock %}
