{% extends "::base.html.twig" %}
{% block title %}{{ game.name }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack js '@match/js/match/match.js' %}
        <script src="{{ asset_url }}"></script>
    {% end_webpack %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack css '@match/less/game.less.js' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% end_webpack %}
    <link rel="stylesheet" href="{{ path('match.css', { slug: game.slug }) }}">
{% endblock %}

{% block body %}
    <h1 class="center title">{{ game.name }}</h1>

    <div id="vue">
        <grid><div class="center"><i class="fa fa-spin fa-spinner"></i></div></grid>
        <weapon-modal></weapon-modal>
        <score-modal time="{{ 'now'|date('U') }}"></score-modal>
        <inventory-modal></inventory-modal>
        <chat-modal></chat-modal>
    </div>
    <input type="hidden" id="user-id" value="{{ app.user.id|default('0') }}">
    <input type="hidden" id="slug" value="{{ game.slug }}">
    <input type="hidden" id="game-id" value="{{ game.id }}">
    <input type="hidden" id="ajax-weapons" value="{{ path('ajax.weapon') }}">
{% endblock %}
